.button{
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;

    position: relative;
    &:active{
        top: 2px;
    }

    &--white{
        background-color: white;
        color: black;

        &:hover{
            background-color: #e0e0e0;
        }
    }
    &--purple{
        background-color: purple;
        color: white;

        &:hover{
            background-color: #800080cc;
        }
    }
}